## ASSIGNMENT 2:

### Problem 2. Train a machine learning model using the training file to predict the values of the ‘tat_in_days’ column for the test file.

In [802]:
import pandas as pd
from sklearn import metrics 
import numpy as np
from sklearn import linear_model
import seaborn as sns
%matplotlib_inline

UsageError: Line magic function `%matplotlib_inline` not found.

#### Reading data from CSV file:

In [803]:
data = pd.read_csv("C:\\Users\\dell\\Downloads\\Assignment 2\\Assignment 2\\problem_2\\problem_2_train.csv")

In [804]:
data.head(20)

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8
5,2852784,AN,21,110015,233,233,131,B,ADLD,132001,2017-12-22,2017-12-17,2018-02-08,4580,2018-02-15,9
6,2844713,C,2,110018,233,233,131,A,ADLD,110059,2017-08-26,2017-08-22,2018-02-06,4094,2018-02-09,15
7,2829719,C,6,160059,233,233,131,B,ADLD,151001,2017-03-14,2017-03-13,2018-02-01,4549,2018-02-10,16
8,2833619,AN,3,560011,201,233,131,A,ADLD,560076,2017-07-23,2017-07-22,2018-02-03,4467,2018-02-08,17
9,2870579,AJ,5,380009,233,233,131,B,ADLD,390006,2017-06-01,2017-05-31,2018-02-14,4422,2018-02-20,11
10,2851462,AN,3,560011,233,233,131,B,ADLD,586101,2017-07-12,2017-06-13,2018-02-08,4467,2018-02-13,19
11,2864593,AN,22,400104,233,233,131,B,ADLD,360001,2017-01-28,2015-07-25,2018-02-12,4581,2018-02-22,20
12,2902016,C,2,110018,233,233,131,A,ADLD,110025,2017-10-29,2017-10-13,2018-02-23,4091,2018-02-26,14
13,2891631,AI,8,700064,233,233,131,A,ADLD,700039,2017-12-29,2017-12-29,2018-02-20,4499,2018-02-22,18
14,2926054,AD,4,600024,233,233,131,A,ADLD,600097,2018-01-06,2016-12-29,2018-02-28,4488,2018-03-03,13
15,2899949,S,2,110018,308,233,228,A,ADLD,122003,2018-01-25,2018-01-24,2018-02-23,4150,2018-02-28,17
16,2969907,AJ,12,302006,233,233,228,B,ADLD,342015,2018-01-13,2017-11-11,2018-03-11,4407,2018-03-12,12
17,2906122,AN,21,110015,233,233,228,A,ADLD,201010,2017-12-28,2016-10-17,2018-02-25,4580,2018-02-27,24
18,2932008,C,2,110018,233,233,131,A,ADLD,110070,2018-02-27,2018-02-27,2018-03-03,4094,2018-03-07,17
19,2970930,AJ,2,110018,233,233,131,A,ADLD,201014,2017-06-14,2017-06-13,2018-03-12,4388,2018-03-16,10

In [805]:
data.shape

(6250, 16)

In [806]:
data['mobmake'].value_counts()

AN    2497
AJ    1346
C     1116
AI     236
AD     158
AA     158
AM      99
J       91
AE      88
S       86
Y       74
AF      46
G       45
H       26
AB      21
D       21
U       20
AK      20
L       18
T       13
K       11
F       10
R        8
Z        7
V        5
AP       4
AR       3
O        3
AL       3
N        3
AO       2
M        2
I        2
B        2
AG       2
A        2
W        1
P        1
Name: mobmake, dtype: int64

In [807]:
data.describe()

,srno,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincode,servicecntrid,tat_in_days
count,6.250000e+03,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000
mean,2.946134e+06,11.732000,340546.139840,232.654400,231.495360,155.040480,366009.473440,4457.158080,12.730400
std,7.733480e+04,9.141463,213449.097822,30.471658,22.521945,41.883918,210990.167946,200.945634,5.075533
min,2.818359e+06,0.000000,0.000000,0.000000,0.000000,131.000000,0.000000,4008.000000,2.000000
25%,2.877226e+06,3.000000,110018.000000,233.000000,233.000000,131.000000,135034.000000,4398.000000,9.000000
50%,2.944426e+06,8.000000,400001.000000,233.000000,233.000000,131.000000,395001.500000,4474.000000,12.000000
75%,3.012237e+06,21.000000,500004.000000,233.000000,233.000000,131.000000,560016.000000,4580.000000,15.000000
max,3.101035e+06,27.000000,800001.000000,308.000000,245.000000,228.000000,855107.000000,5146.000000,57.000000

In [808]:
data.columns

Index(['srno', 'mobmake', 'hubid', 'hubpincode', 'pickuppartnerid',
       'deliverypartnerid', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype', 'custpincode', 'memcreateddate', 'mobilepurchasedate',
       'claimintdate', 'servicecntrid', 'pickupStartdate', 'tat_in_days'],
      dtype='object')

#### Handling categorical data:

In [809]:
#Transfroming string column values into float values 
data['mobmake'] = pd.factorize(data.mobmake)[0]
data['claimtype'] = pd.factorize(data.claimtype)[0]
data['custpincodecategory'] = pd.factorize(data.custpincodecategory)[0]

In [810]:
data.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,0,7,500004,233,233,131,0,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,1,10,226010,233,233,131,0,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,1,2,110018,233,233,228,0,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,2,2,110018,233,233,228,1,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,0,21,110015,233,233,131,0,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [811]:
data.describe()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,servicecntrid,tat_in_days
count,6.250000e+03,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000,6250.000000
mean,2.946134e+06,2.646720,11.732000,340546.139840,232.654400,231.495360,155.040480,0.574080,0.000640,366009.473440,4457.158080,12.730400
std,7.733480e+04,4.592011,9.141463,213449.097822,30.471658,22.521945,41.883918,0.936468,0.025292,210990.167946,200.945634,5.075533
min,2.818359e+06,0.000000,0.000000,0.000000,0.000000,0.000000,131.000000,0.000000,0.000000,0.000000,4008.000000,2.000000
25%,2.877226e+06,0.000000,3.000000,110018.000000,233.000000,233.000000,131.000000,0.000000,0.000000,135034.000000,4398.000000,9.000000
50%,2.944426e+06,1.000000,8.000000,400001.000000,233.000000,233.000000,131.000000,0.000000,0.000000,395001.500000,4474.000000,12.000000
75%,3.012237e+06,3.000000,21.000000,500004.000000,233.000000,233.000000,131.000000,1.000000,0.000000,560016.000000,4580.000000,15.000000
max,3.101035e+06,37.000000,27.000000,800001.000000,308.000000,245.000000,228.000000,4.000000,1.000000,855107.000000,5146.000000,57.000000

#### Feaature Selection

In [812]:
#create python list for features
features_cols=['srno','mobmake','hubid', 'hubpincode', 'pickuppartnerid','deliverypartnerid','custpincodecategory','claimtype','insuranceCompanyId','custpincode','servicecntrid']      
X=data[features_cols]
y=data.tat_in_days

In [813]:
X.shape

(6250, 11)

In [814]:
y.shape

(6250,)

#### Splitting data into train and test:

In [815]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

#### Printing shape or dimensions of train and test data:

In [816]:
print(X_train.shape)

(4687, 11)

In [817]:
print(X_test.shape)

(1563, 11)

In [818]:
print(y_train.shape)

(4687,)

In [819]:
print(y_test.shape)

(1563,)

## Linear Regression

In [820]:
#import model
from sklearn.linear_model import LinearRegression

#instantiate
linreg = LinearRegression()
#fit the model into training data ,learn the coeffiecients
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [821]:
#print the intercept and coefficients
print(linreg.intercept_)

55.655348450530155

In [822]:
print(linreg.coef_)

[-1.09893142e-05  2.48020516e-01  1.23268502e-02 -4.35084447e-06
  1.40916120e-03 -4.76740102e-03  1.38545401e+00  1.74812650e+01
 -3.47785723e-03  4.70996257e-06 -2.49520996e-03]

In [823]:
#pair the feature names with the coefficients
list(zip(features_cols,linreg.coef_))

[('srno', -1.0989314245945068e-05),
 ('mobmake', 0.24802051592113716),
 ('hubid', 0.0123268502387058),
 ('hubpincode', -4.350844466260995e-06),
 ('pickuppartnerid', 0.0014091612013735484),
 ('deliverypartnerid', -0.004767401022821422),
 ('custpincodecategory', 1.3854540121420984),
 ('claimtype', 17.48126503517478),
 ('insuranceCompanyId', -0.003477857230026006),
 ('custpincode', 4.709962569807158e-06),
 ('servicecntrid', -0.002495209957042599)]

In [824]:
#making predictions on the testing set
y_pred = linreg.predict(X_test)
print(y_test,y_pred)

1163     9
2743    11
4625    23
5569    11
4948    14
4426     9
2478    20
5509     6
5501     9
3847    10
5134    16
4428     8
4754    13
3100    19
5243    31
3909    13
1817    15
4694    15
2116    10
1697     8
3554     6
3305    23
5343     6
5473     6
2040    17
4447    13
6197    10
1929    21
5000    12
6011     8
        ..
5505     8
4096    16
1077    11
4589    13
1807    14
3085    20
2600     8
3189    21
6109    19
3924    16
900      8
1386    10
5240    12
4716    13
4352    23
5356    13
1357     7
3234     8
16      12
4183    11
2534     6
2754    14
4656    14
761      8
2537    10
1061     9
4195    18
5992    10
3078    12
3525     7
Name: tat_in_days, Length: 1563, dtype: int64 [12.47924877 11.36389306 16.66189567 ... 13.30314287 12.47567416
 11.6880651 ]

#### RMSE value for Linear Regression:

In [825]:
np.sqrt(np.mean(np.square(y_pred-y_test)))

4.756254788483175

## Ridge Regression

In [826]:
from sklearn.linear_model import Ridge

In [827]:
ridgereg = Ridge()
ridgereg.fit(X_train,y_train)
y_pred = ridgereg.predict(X_test)

#### RMSE value for Ridge Regression:

In [828]:
np.sqrt(np.mean(np.square(y_pred-y_test)))

4.753812226632618

## KNN

In [829]:
from sklearn.neighbors import KNeighborsRegressor

In [830]:
knnreg = KNeighborsRegressor(n_neighbors=10,algorithm='auto')
knnreg.fit(X_train,y_train)
y_pred = knnreg.predict(X_test)

#### RMSE value for KNN:

In [831]:
np.sqrt(np.mean(np.square(y_pred-y_test)))

5.04166200038912

## Gradient Boost

In [832]:
from sklearn.ensemble import GradientBoostingRegressor

In [833]:
gbreg = GradientBoostingRegressor(n_estimators=500)
gbreg.fit(X_train,y_train)
y_pred = gbreg.predict(X_test)

#### RMSE value for Gradient Boost:

In [834]:
np.sqrt(np.mean(np.square(y_pred-y_test)))

4.420276553743361

## Using Gradient Boost on the test data:

In [835]:
# Applying same steps as above on this test data:

In [836]:
test = pd.read_csv("C:\\Users\\dell\\Downloads\\Assignment 2\\Assignment 2\\problem_2\\problem_2_test.csv")

In [837]:
test.shape

(2116, 15)

In [838]:
test['mobmake'] = pd.factorize(test.mobmake)[0]
test['claimtype'] = pd.factorize(test.claimtype)[0]
test['custpincodecategory'] = pd.factorize(test.custpincodecategory)[0]

In [839]:
test.describe()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,servicecntrid
count,2.116000e+03,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000,2116.000000
mean,2.947548e+06,2.758979,12.039698,336913.011815,233.076087,231.934310,154.103970,0.728733,0.001418,361246.478261,4457.901229
std,7.630737e+04,4.708680,9.175790,213368.395632,28.243811,20.039439,41.329153,1.065312,0.037635,211449.155297,202.752250
min,2.818646e+06,0.000000,1.000000,110015.000000,0.000000,0.000000,131.000000,0.000000,0.000000,0.000000,4008.000000
25%,2.879313e+06,0.000000,3.000000,110018.000000,233.000000,233.000000,131.000000,0.000000,0.000000,134109.000000,4396.750000
50%,2.946716e+06,1.000000,8.000000,400001.000000,233.000000,233.000000,131.000000,0.000000,0.000000,390001.500000,4477.000000
75%,3.012182e+06,2.000000,21.000000,500004.000000,233.000000,233.000000,131.000000,2.000000,0.000000,530291.750000,4580.000000
max,3.094554e+06,33.000000,27.000000,800001.000000,308.000000,245.000000,228.000000,4.000000,1.000000,855107.000000,5146.000000

In [840]:
gbreg.fit(X,y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=500,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [841]:
prediction2 = gbreg.predict(test[features_cols])

In [842]:
type(prediction2)

numpy.ndarray

In [843]:
answers = pd.DataFrame({'predictions':prediction2})

In [844]:
answers.head(20)

    predictions
0      9.576745
1      9.886722
2     11.625067
3     13.550148
4     15.650350
5     15.314537
6     11.342488
7     15.214174
8     13.681831
9     11.075583
10    13.205154
11    11.594418
12    12.105693
13    15.619995
14    13.257932
15    12.312898
16     6.737244
17    11.805937
18    10.324467
19    10.417241

In [845]:
test['tat_in_days'] = answers

In [846]:
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2829088,0,3,560011,233,233,131,0,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06,9.576745
1,2829866,1,2,110018,233,233,228,0,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08,9.886722
2,2894489,1,3,560011,233,233,228,1,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28,11.625067
3,2876708,1,2,110018,233,233,228,2,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26,13.550148
4,2890283,0,22,400104,233,233,131,1,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23,15.650350

In [847]:
test.to_csv('CompleteData2.csv')
answers.to_csv('results.csv')